@import "mixins.scss";

.itemsRow {
	@include row(1280px, auto, center);
	margin-left: auto;

	@media only screen and (max-width : 1700px) {
		@include row(960px, auto, center);
		margin-left: auto;
	}

	@media only screen and (max-width : 500px) {
		// display: none;
		width: 100%;
		justify-content: center;


	}
}

.allItems {
	@include row(1610px, space-between, flex-start);

	@media only screen and (max-width : 1700px) {
		@include row(1290px, space-between, auto);
	}

	@media only screen and (max-width : 500px) {
		width: 100%;
		// display: none;
	}
}