@import "mixins.scss";

.productSelectType{
	

	font-size: 20px;
	padding-left: 15px;
	position: relative;
	&::before{
		position: absolute;
		top: -40px;
		left: 0;
		content: url("../imgs/linePoductPage.png");
		
	}
	.typeName{
	margin-top: 40px;

		margin-bottom: 10px;
	}
	.types{
		@include row(100%, auto,center);
		.pstItem{
			font-size: 17px;
			border: 1px solid rgb(95, 95, 95);
			padding: 3px 6px;
			margin-right: 18px;
			font-weight: 500;
			border-radius: 3px;
			transition: 500ms;

			&:hover{
				transition: 500ms;
				cursor: pointer;
				border: 1px solid rgb(255, 255, 255);
				background: rgb(255, 255, 255);
				color: #1d1d1d;
				font-weight: 500;

			}
		}
	}
	.colors{
		@include row(100%, auto,center);
		.productSelectColor{
			margin-right: 18px;

		}
	}

}