@import "constants.scss";
@import "mixins.scss";

.isReadyToShow {
	display: none;
}

.productPage {
	// height: 800px;
	max-width: 1100px;
	margin: 0 auto;
	margin-top: 20px;
	background: $main-color;

	.sides {
		display: flex;

		.side {
			flex-basis: 50%;


		}

		.model {
			font-size: 25px;
			color: #fff;
			margin-top: 20px;
			padding-left: 10px;

		}

		.price {
			margin-top: 40px;
			font-size: 28px;
			padding-left: 15px;
			position: relative;

			&::before {
				position: absolute;
				top: -47px;
				left: 0;
				content: url("../imgs/linePoductPage.png");
			}
		}
	}


	.carousel {
		button {
			transition: 400ms;

			&:hover {
				color: #ffff !important;
				transition: 400ms;
			}
		}


		.image {
			background-size: 275px !important;
			background-repeat: no-repeat !important;

		}

		.twoPhotos {
			max-width: 170px;
			margin-left: 160px !important;

			@media screen and (max-width:500px) {
				margin-left: auto !important;
				margin-top: 0px !important;

			}

		}

		.smallPhotos {
			@media screen and (max-width:500px) {
				margin-left: auto;
				@include row(200px, space-between, center);
				margin-top: 25px;


			}

			@include row(220px, space-between, center);
			margin-top: 15px;
			margin-left: 135px;

			.smallPhoto {
				img {
					width: 45px;
					height: 45px;
					cursor: pointer;
				}

			}


		}
	}

	.productSelectType {


		font-size: 20px;
		padding-left: 15px;
		position: relative;

		&::before {
			position: absolute;
			top: -40px;
			left: 0;
			content: url("../imgs/linePoductPage.png");

		}

		.typeName {
			margin-top: 40px;

			margin-bottom: 10px;
		}

		.types {
			@include row(100%, flex-start, center);

			.pstItem {
				font-size: 17px;
				border: 1px solid rgb(95, 95, 95);
				padding: 3px 6px;
				margin-right: 18px;
				font-weight: 500;
				border-radius: 3px;
				transition: 500ms;


				&:hover {
					transition: 500ms;
					cursor: pointer;
					border: 1px solid rgb(255, 255, 255);
					background: rgb(255, 255, 255);
					color: #1d1d1d;
					font-weight: 500;

				}
			}

			.activeCategory {
				border: 1px solid rgb(255, 255, 255);
				background: rgb(255, 255, 255);
				color: #1d1d1d;
				font-weight: 500;
			}

		}

		.colors {
			@include row(100%, flex-start, center);

			.productSelectColor {
				margin-right: 18px;

			}
		}
	}

	.productColors {


		font-size: 20px;
		padding-left: 15px;
		position: relative;

		&::before {
			position: absolute;
			top: -40px;
			left: 0;
			content: url("../imgs/linePoductPage.png");

		}

		.typeName {
			margin-top: 40px;
			margin-bottom: 15px;
		}

		.colors {
			display: flex;
			padding-left: 5px;

			.productSelectColor {
				@include column(100%, center, center);
				transition: 400ms;
				margin-right: 45px;

				.dot {
					width: 30px;
					height: 30px;
					border-radius: 50%;
					margin-bottom: 3px;
					transition: 400ms;
				}

				.colorName {
					transition: 400ms;
					font-size: 18px;
					color: rgb(149, 148, 148);
				}

				&:hover {
					cursor: pointer;

					.dot {
						border: 2px solid rgb(184, 184, 184) !important;
					}

					.colorName {
						color: rgb(255, 255, 255);
					}
				}

				.activeColor {
					border: 2px solid rgb(184, 184, 184) !important;
				}

				.activeColorName {
					color: rgb(255, 255, 255);
				}
			}
		}
	}

	.btnsBuy {
		@include row(100%, flex-start, center);
		padding-left: 15px;
		margin-top: 60px;
		margin-bottom: 70px;
		position: relative;

		&::before {
			position: absolute;
			top: -50px;
			left: 0;
			content: url("../imgs/linePoductPage.png");

		}

		button {
			border: none;
			width: 200px;
			height: 45px;
			font-size: 16px;
			font-weight: 600;
			transition: 400ms;

			color: #fff;

			&:hover {
				cursor: pointer;
				box-shadow: 0px 0px 2px 1px rgba(255, 255, 255, 0.6);

			}
		}

		.btnBuy {
			margin-right: 20px;
		}

		.btnBuy {
			button {
				background: rgb(199, 35, 38);
				line-height: 0;


			}
		}

		.btnAddCart {
			button {
				background: rgba(0, 85, 255, 0.857);
				position: relative;

			}
		}

		@media only screen and (max-width : 425px) {
			flex-direction: column;




			.btnBuy {
				margin-right: 0;
				margin-bottom: 15px;
			}
		}
	}

}

@media only screen and (max-width : 500px) {
	.productPage {
		width: 100%;
		max-width: 100%;

		.sides {
			flex-direction: column;
			width: 100%;

			.price {


				&::before {
					position: absolute;
					top: -18px;
					left: 0;
					content: '';
					background-image: url("../imgs/linePoductPage.png");
					width: calc(100% - 10px);
					margin-left: 5px;
					height: 1px;

				}
			}

			.model {
				margin-top: 70px;
				// text-align: center;
			}

			.productSelectType {
				&::before {
					position: absolute;
					top: -18px;
					left: 0;
					content: '';
					background-image: url("../imgs/linePoductPage.png");
					width: calc(100% - 10px);
					margin-left: 5px;
					height: 1px;

				}
			}

			.productColors {
				&::before {
					position: absolute;
					top: -18px;
					left: 0;
					content: '';
					background-image: url("../imgs/linePoductPage.png");
					width: calc(100% - 10px);
					margin-left: 5px;
					height: 1px;
				}
			}


		}

		.btnsBuy {
			justify-content: center;
			padding-left: 0;

			&::before {
				position: absolute;
				top: -31px;
				left: 0;
				content: '';
				background-image: url("../imgs/linePoductPage.png");
				width: calc(100% - 10px);
				margin-left: 5px;
				height: 1px;
			}

			.btnBuy:last-child {
				margin-right: 0;
			}

		}

		// overflow-x: hidden;
	}
}